/* Set default font for the entire page to Roboto */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Regular */
  line-height: normal;
}

/* Set Bebas Neue Pro for all heading tags (h1, h2, h3, h4, h5, h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue Pro", sans-serif;
  font-weight: 700; /* Bold */
  line-height: 1.2;
}

a:not(.ab-item):not(.screen-reader-shortcut):active,
a:not(.ab-item):not(.screen-reader-shortcut):focus {
  outline: none;
}

.page {
  .wp-site-blocks {
    min-height: 50vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.main {
  position: relative;
  margin-top: 64px;
  min-height: 50vh;
}

.address-marker:not(.active-address) {
  cursor: pointer;
  & > .sub-title {
    color: #757575 !important;
  }
}

.ol-marker {
  height: 35px !important;

  img {
    height: 100%;
    width: auto;
  }
}

.active-marker {
  transform: scale(1.2);
  z-index: 1000;
}

/* md: up to 768px */
@media (max-width: 768px) {
  .main {
    margin-top: 0;
  }
}
