.flex {
  display: flex;
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.noGrow {
  flex-grow: 0;
}

.nowrap {
  flex-wrap: nowrap;
}
